{{ $item := .item }}
{{ $widget := .widget }}

{{ $link := .link }}
{{ $target := .target }}

{{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
{{ $js_tag_classes := delimit (apply (apply $item.Params.tags "replace" "." " " "-") "printf" "js-id-%s" ".") " " }}

<div class="col-12 col-md-6 col-lg-4 project-item isotope-item {{ $js_tag_classes | safeHTMLAttr }}"> 
  <div class="card">
    {{ with $resource }}
    {{ $image := .Resize (printf "250x q90 %s") }}
      <img src="{{ $image.RelPermalink }}" alt="" class="image-circle">
    {{ end }}
    <div class="card-text">
      <h4>{{ $item.Title }}</h4>
      <div class="card-desription">
        {{ with $item.Params.summary }}<p>{{ . | markdownify }}</p>{{ end }}
      </div>
    </div>
  </div>
</div>